# Compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Testing
.pytest_cache/
config.toml
tmp/

# Packaging / build artifacts
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env

# Claude files
CLAUDE.md

# TODO list
todo.md